# Node.js related
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Flutter/Dart related
**/build/
**/ios/Flutter/.last_build_id
**/web/packages/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
pubspec.yaml.lock
dart_tool/
.vscode/
.idea/
*.iml
.project
.metadata
.idea/
.vscode/
.dart_tool/
